<.header>
  CVE List
  <:actions>
    <.link phx-click={JS.navigate(~p"/cves/new")}>
      <.button>New Cve</.button>
    </.link>
  </:actions>
</.header>
<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
  <.table id="cves" class="table table-zebra" rows={@streams.cves} row_click={fn {_id, cve} ->
    JS.navigate(~p"/cves/#{cve}") end}
    >
    <:col :let={{_id, cve}} label="CVE Id">{cve.cve_id}</:col>
    <:col :let={{_id, cve}} label="Date published">{cve.date_published}</:col>
  </.table>
</div>