<div class="breadcrumbs max-w-xs text-md mb-4">
  <ul>
    <li>
      <.link phx-click={JS.navigate(~p"/")}>Home</.link>
    </li>
    <li class="font-semibold">Upload New CVEs</li>
  </ul>
</div>
<div class="card card-border bg-base-100 ">
  <div class="card-body">
    <h2 class="card-title text-2xl">Upload new CVEs</h2>
    <p class="text-base">Make sure your CVE is <b>.json</b> file and that it has all the required fields: cveId,
      datePublished, dateUpdated, description. You can upload multiple files at once.
    </p>
    <form class="mt-4" id="upload-form" phx-submit="save" phx-change="validate">
      <fieldset class="fieldset bg-base-200 border-base-300 rounded-box  border p-4">
        <.live_file_input class="file-input" upload={@uploads.raw_json} />
      </fieldset>
      <div id="files-to-upload" class="mt-6 " :if={@uploads.raw_json.entries !=[]}>
        <h2 class="text-lg font-bold text-xl">Files to upload</h2>
        <.table class="table table-zebra table-sm">
          <.thead>
            <.tr>
              <.th>Filename</.th>
              <.th class="hidden sm:block">Progress</.th>
              <.th>Errors</.th>
              <.th>Actions</.th>
            </.tr>
          </.thead>
          <.tbody>
            <.tr :for={entry <- @uploads.raw_json.entries}>
              <.td>{if String.length(entry.client_name) > 30, do: String.slice(entry.client_name, 0, 30) <> "...", else:
                  entry.client_name}</.td>
              <.td class="hidden sm:block"><progress class="progress w-56" value={entry.progress} max="100"></progress>
              </.td>
              <.td>
                <div :if={upload_errors(@uploads.raw_json, entry)==[]}>-</div>
                <p :for={err <- upload_errors(@uploads.raw_json, entry)} class="text-error">
                  {error_to_string(err)}
                </p>
              </.td>
              <.td><button class="btn" type="button" phx-click="cancel-upload" phx-value-ref={entry.ref}
                  aria-label="cancel">Cancel</button></.td>
            </.tr>
          </.tbody>
        </.table>
      </div>
      <button type="submit" class="btn btn-block btn-soft btn-default mt-4" disabled={@uploads.raw_json.entries==[] or
        Enum.any?(@uploads.raw_json.entries, fn entry -> upload_errors(@uploads.raw_json, entry) != []
        end)}>Upload</button>
    </form>
    <div class="mt-6 " :if={@uploaded_files !=[] and @uploads.raw_json.entries==[]}>
      <h2 class="text-xl font-bold">Upload Result</h2>
      <.table id="files-upload-result" class="table table-zebra table-md" rows={@uploaded_files}>
        <:col :let={file} label="Filename">{file.file_name}</:col>
        <:col :let={file} label="Result">
          <span class="text-success" :if={file.status==:success}>File uploaded successfully</span>
          <span class="text-error" :if={file.status==:error}>{file.error}</span>
        </:col>
      </.table>
      <button class="btn btn-block mt-4">
        <.link id="go-back-button" phx-click={JS.navigate(~p"/")}>Go back to list</.link>
      </button>
    </div>
  </div>
</div>