<.header>
  Cve {@cve.id}
  <:subtitle>This is a cve record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/cves/#{@cve}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit cve</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Cve">{@cve.cve_id}</:item>
  <:item title="Description">{@cve.description}</:item>
  <:item title="Date published">{@cve.date_published}</:item>
  <:item title="Date updated">{@cve.date_updated}</:item>
</.list>

<.back navigate={~p"/cves"}>Back to cves</.back>

<.modal :if={@live_action==:edit} id="cve-modal" show on_cancel={JS.patch(~p"/cves/#{@cve}")}>
  <.live_component module={CveExplorerWeb.CVELive.FormComponent} id={@cve.id} title={@page_title} action={@live_action}
    cve={@cve} patch={~p"/cves/#{@cve}"} />
</.modal>