<.header>
  {@cve.cve_id}
  <:actions>
    <.button phx-click="download_cve">Download</.button>
  </:actions>
</.header>

<.list>
  <:item title="Description">{@cve.description}</:item>
  <:item title="Date published">{@cve.date_published}</:item>
  <:item title="Date updated">{@cve.date_updated}</:item>
</.list>

<.back navigate={~p"/"}>Back</.back>