<.header>
  Cve {@cve.id}
  <:subtitle>This is a cve record from your database.</:subtitle>

</.header>

<.list>
  <:item title="Cve">{@cve.cve_id}</:item>
  <:item title="Description">{@cve.description}</:item>
  <:item title="Date published">{@cve.date_published}</:item>
  <:item title="Date updated">{@cve.date_updated}</:item>
</.list>

<.back navigate={~p"/cves"}>Back to cves</.back>